{
  "extends": [
    "eslint-config-unjs"
  ],
  "rules": {
    "no-useless-escape": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-non-null-asserted-optional-chain": 0
  }
}
